* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #646869;
    overflow: hidden;
}


/*************************************************game itself*/

.canvas {
    background-color: #646869;
    overflow: hidden;
    width: 50%;
    height: 100vh;
}

#view {
    width: 40%;
    height: 100vh;
    top: 0;
    position: absolute;
    left: calc((100vw - 40%) / 2);
}

#map {
    position: absolute;
    top: 0;
    left: 0;
}


/*************************************************masks left & right*/

#mask_left, #mask_right {
    background-color: white;
    background-image: url("accueil_background.png");
    background-position: center;
    background-size: cover;
    position: absolute;
    width: calc((100vw - 40%) / 2);
    height: 100vh;
    top: 0;
    z-index: 2;
}

.mask_left {
    left: 0;
}

.mask_right {
    right: 0;
}


/****************logo in mask left**********************/

@font-face {
    font-family: geometric;
    src: url(fonts/R&C-Demo.otf);
}

.place_logo {
    position: absolute;
    bottom: 0;
    width: 25vw;
    height: 10vh;
    margin-left: 3vw;
}

.animatum_logo {
    position: relative;
    font-family: geometric;
    text-align: center;
    font-size: 5vw;
    color: #939393;
}


/*************************************************rabbit*/

#rabbit {
    position: absolute;
    z-index: 1;
}


/*************************************************carrot icon*/

#nw, #ne, #se, #sw {
    height: 50%;
    width: 50%;
}

#nw {
    cursor: url(cursors/carottenw.png), auto;
}

#ne {
    cursor: url(cursors/carottene.png), auto;
}

#sw {
    cursor: url(cursors/carottesw.png), auto;
}

#se {
    cursor: url(cursors/carottese.png), auto;
}


/**************************************************timer*/

.timer {
    z-index: 3;
    display: flex;
    position: absolute;
    top: 42%;
    left: calc(((100vw / 2 - 30vh) / 2) - 7.5vh);
    height: 15vh;
    width: 15vh;
    background-color: white;
    border: black solid 3px;
    border-radius: 50%;
    box-shadow: 1vh 1vh 2vh black;
    font-size: 5vh;
    font-weight: bolder;
}

#timer {
    margin: auto;
    color: black;
}


/*************************************************score popup*/

#cover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 5;
    display: none;
}

#score {
    background-color: #646869;
    border-radius: 10px;
    padding: 40px;
    width: 50%;
    margin: auto;
    display: none;
    text-align: center;
}

#score h1 {
    font-size: 4em;
    color: white;
}

#score p {
    font-family: base, sans-serif;
    color: white;
    font-size: 2em;
    margin: 10px;
}

#cover.visible {
    display: flex;
}

#score.visible {
    display: block;
}

button {
    font-family: base, sans-serif;
    font-size: 1.5em;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

button:hover {
    border: none;
    box-shadow: inset 0px 0px 7px black;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

@font-face {
    font-family: base;
    src: url(fonts/primer_print.ttf);
}


/*****************************************Sound controls*/

#mute {
    position: absolute;
    width: 50px;
    top: 10px;
    right: 10px;
    z-index: 5;
    display: none;
}

#mute.visible {
    display: block;
}

#sound {
    position: absolute;
    width: 50px;
    top: 10px;
    right: 10px;
    z-index: 5;
    display: none;
}

#sound.visible {
    display: block;
}


/*****************************************Bonus 5s*/

#bonus {
    display: none;
    font-size: 2em;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 36%;
    left: calc(((100vw / 2 - 20vh) / 2) - 7.5vh);
    background-color: transparent;
    z-index: 3;
}

#bonus.visible {
    display: block;
}

@media all and (max-width : 1000px) {
  *{
    overflow: scroll;
  }

  .canvas {
      width: 100%;
      overflow: scroll;
  }

  #view {
      width: 100%;
      left:0;
  }

  #mask_left, #mask_right {
    display:none;
  }

  .timer {
    position: fixed;
    top: 90%;
    left: 40%;
    font-size: 4vh;
    height: 10vh;
    width: 10vh;
    box-shadow: none;

  }

  #bonus {
      position: fixed;
      font-size: 1.5em;
      background-color: transparent;
      top: 86%;
      left: 44%;
  }

  #score {
      width: 80%;
  }

  #score h1 {
      font-size: 2em;
  }

  #score p {
      font-family: base, sans-serif;
      font-size: 1em;
      margin: 10px;
  }
  #mute {
      overflow: hidden;
  }
  #sound {
      overflow: hidden;
  }
}
