* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #646869;
}

body {
    background-image: url("accueil_background.png");
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.container {
    
}

header {
    background-color: rgba(255, 255, 255, 0.6);
    width: 50%;
    margin: auto;
}

.title {
    text-align: center;

}

h1 {
    width: 100%;
    font-size: 6em;
    font-family: geometric, sans-serif;
    color: black;
}

nav ul {
    list-style: none;
}

nav li {
    text-align: center;
    font-family: base, sans-serif;
    margin: 10px 0px;
}

nav li a {
    display: block;
    text-decoration: none;
    width: 100%;
    font-size: 3vh;
    padding: 5px 0;
}

nav li a:hover {
    border-radius: 10px;
    background-color: rgba(200, 200, 200, 0.2);
    transition-duration: 0.7s;
}


@font-face {
    font-family: geometric;
    src: url(fonts/R&C-Demo.otf);
}

@font-face {
    font-family: base;
    src: url(fonts/primer_print.ttf);
}

@media screen and (max-width: 960px) {
    header {
      width: 100%;
    }
}
