* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #646869;
}

.canvas {
    background-color: #646869;
    overflow: hidden;
    width: 50%;
    height: 100vh;
}

#image{
  position: absolute;
}

#rabbit {
  position: absolute;
  z-index: 1;
}

.scene {
  overflow: hidden;
}
.background > img{
  transform: translate();
}
.mask {
  background-color: black;
  background-image: url("accueil_background.png");
  background-position: center;
  background-size: cover;
  position: absolute;
  width: calc(100vw / 2 - 30vh);
  height: 100vh;
  top: 0;
  z-index: 2
}
.mask_left {
  left: 0;
}

.mask_right {
  right: 0;
}

.gameWindow{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 60vh;
  position: absolute;
  top: 0;
  left: calc(100vw / 2 - 30vh);
}

#nw, #ne, #se, #sw{
  height: 50%;
  width: 50%;
}

#nw{
  cursor: url(cursors/carottenw.png), auto;
}

#ne{
  cursor: url(cursors/carottene.png), auto;
}

#sw{
  cursor: url(cursors/carottesw.png), auto;
}

#se{
  cursor: url(cursors/carottese.png), auto;
}

.timer{
  display: flex;
  position: absolute;
  top: 40%;
  left: calc(((100vw / 2 - 30vh) / 2) - 10vh);
  height: 10vh;
  width : 20vh;
  background-color: black;
  border: #900906 solid 3px;
  border-radius: 5px;
  box-shadow: 1vh 1vh 2vh #900906;
  font-size: 5vh;
  font-weight: bolder;
}

#timer{
  z-index: 100;
  margin: auto;
  color: #900906;
}

footer {
    background-image: url(pattern.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
}

footer nav ul {
    margin-top: 0;
}

#copyright {
    text-align: center;
    padding: 5px 0px;
    background-color: rgba(200, 200, 200, 0.2);
}

@font-face {
    font-family: geometric;
    src: url(fonts/R&C-Demo.otf);
}

@font-face {
    font-family: base;
    src: url(fonts/primer_print.ttf);
}

@media screen and (max-width: 960px) {
    header {
        flex-direction: column;
    }
    h1 {
        margin: auto;
    }
    #svg_layer {
        display: none;
    }
}
