*{
  margin: 0;
}
.scene {
  width: 100vw;
  height: 100vh;
}
.square_one {
  background-color: black;
  position: absolute;
  width: 90vh;
  height: 90vh;
  top: 0;
  left: 0;
}
.square_two {}
.square_three {}
.square_four {}
