#image {
  width: 100%;
  position: absolute;

}
#astronaut, #robot {
  position: absolute;
  width: 64px;
  height: 64px;
}
#astronaut {
  top: 50%;
  left: 50%;
}
#robot {
  top: 40%;
  left: 30%;
}
