*{
  margin: 0;
}
.scene {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.mask {
  background-color: black;
  position: absolute;
  width: 35vw;
  height: 100vh;
  top: 0;
}
.mask_left {
  left: 0;
}

.mask_right {
  right: 0;
}
